<%if(restaurants.length > 0){%>
    <%for(let restaurant of restaurants){ %>
        <div class="card mb-3 col-md-11">
            <div class="row">
                <div class="col-md-5">
                    <% if(restaurant.images.length){ %> 
                        <img class="img-fluid" src="<%=restaurant.images[0].url %>" alt="">
                    <% }else{ %>
                        <img src="/img/no-image-found.jpg" alt="" class="card-img-top">
                    <% } %>  
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"><%= restaurant.name %></h5>
                        <p class="card-text">Cuisine: <%= restaurant.type %></p>
                        <p class="card-text"><%= restaurant.description.slice(0, 50) + "..." %></p>
                        <p class="card-text">
                        <small class="text-muted"><i class="bi bi-geo-alt-fill"></i> <%= restaurant.location %></small>
                        </p>
                        <a href="/restaurants/<%=restaurant._id %>" class="btn btn-secondary">More about <%= restaurant.name %></a>
                    </div>
                </div>
            </div>
        </div>
    <%}%>
<%}else{%>
    <h5 class="my-5">No restaurants were found.</h5>
    <p><a href="/restaurants">Back to homepage</a></p>
<%}%>